{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "templateStrings": true,
      "generators": true,
      "classes": true,
      "modules": true,
      "forOf": true,
      "jsx": true,
      "objectLiteralComputedProperties": true
    },
    "env": {
      "browser": true
    }
}
